.content {
  padding: 10px 0;
}

.events {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.event {
  display: inline;
  margin: 10px 0;
}
.name {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.name:hover {
  background-color: #eee;
  cursor: pointer;
}
.name:focus {
  background-color: #eee;
}

.date {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  text-decoration: underline;
}

.gap {
  padding: 6px 2px;
  font-size: 14px;
  color: transparent;
}
.gap:hover {
  background-color: #bbb;
  cursor: pointer;
  color: #000;
}

.hidden:hover {
  color: transparent;
  cursor: default;
  background-color: transparent;
}
