.content {
  padding: 10px 0;
}

.events {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.event {
  display: inline;
  margin: 10px 0;
}
.name {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.name:hover {
  background-color: #eee;
  cursor: pointer;
}
.name:focus {
  background-color: #eee;
}

.date {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.gap {
  padding: 6px 2px;
  font-size: 14px;
  color: transparent;
}
.gap:hover {
  background-color: #bbb;
  cursor: pointer;
  color: #000;
}

.hidden:hover {
  color: transparent;
  cursor: default;
  background-color: transparent;
}

.edit-day {
  font-size: 18px;
  margin-left: 5px;
  padding: 0 8px;
  border-radius: 5px;
  color: #000;
  border: 1px solid #000;
}
.edit-day:hover {
  cursor: pointer;
  color: #444;
  background-color: #eee;
  border-color: #444;
}
.edit-day:active {
  color: #222;
  background-color: #ddd;
  border-color: #222;
}

.delete-day {
  font-size: 18px;
  margin-left: 5px;
  padding: 0 8px;
  border-radius: 5px;
  color: #f00;
  border: 1px solid #f00;
}
.delete-day:hover {
  cursor: pointer;
  color: #b00;
  border-color: #b00;
  background-color: #eee;
}
.delete-day:active {
  color: #d00;
  border-color: #d00;
  background-color: #ddd;
}
