<form class="form-container" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="subject">Subject:</label>
    <input type="text" id="subject" formControlName="subject" required />
    <div *ngIf="hasError('subject', 'required')" class="error-message">Subject is required.</div>
  </div>

  <div class="form-group">
    <label for="message">Message:</label>
    <textarea id="message" formControlName="message" required></textarea>
    <div *ngIf="hasError('message', 'required')" class="error-message">Message is required.</div>
  </div>

  <!-- <div class="form-group">
    <label for="file">File (Image only):</label>

    <input #file type="file" id="file" accept="image/jpeg,image/png,image/gif" (change)="handleFileChange($event)" />

    <div *ngIf="hasError('file', 'required')" class="error-message">File is required.</div>

    <div *ngIf="hasError('file', 'invalidFileType')" class="error-message">
      Invalid file type. Please upload an image.
    </div>
  </div> -->

  <app-button type="submit" [widthPercent]="100" [disabled]="sendFeedbackIsLoading">Submit</app-button>

  <ng-container *ngIf="responseMessage">
    <app-banner
      [type]="responseMessage.statusType"
      [message]="responseMessage.message"
      [dismissable]="false"></app-banner
  ></ng-container>
</form>
