<ng-container *ngIf="profile$ | async">
  <form class="form-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="responseMsg$ | async as responseMsg"
      ><app-banner
        [type]="responseMsg.statusType"
        [message]="responseMsg?.message ?? ''"
        [dismissable]="false"></app-banner
    ></ng-container>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" formControlName="firstName" />
      <div *ngIf="hasError('firstName', 'required')" class="error-message">First Name is required.</div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" formControlName="lastName" />
      <div *ngIf="hasError('lastName', 'required')" class="error-message">Last Name is required.</div>
    </div>

    <div class="form-group">
      <label for="preferredName">Preferred Name</label>
      <input type="text" id="preferredName" formControlName="preferredName" />
    </div>

    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="hasError('email', 'required')" class="error-message">Email Address is required.</div>
      <div *ngIf="hasError('email', 'email')" class="error-message">Invalid Email Address.</div>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" id="phone" formControlName="phone" />
      <div *ngIf="hasError('phone', 'pattern')" class="error-message">Invalid Phone Number.</div>
    </div>

    <!-- Disable if form has not changed, is invalid, or if the response message is showing (after saving) -->
    <app-button type="submit" [disabled]="(isDirty$ | async) === false || userForm.invalid">Save Changes</app-button>
  </form>
</ng-container>
