<div class="content" *ngIf="days && days.length; else noData">
  <app-calendar *ngIf="selectedDay && !editing" [dayList]="days" [initializeCalendar]="selectedDay.date" (dateChange)="dateChange($event)"></app-calendar>

  <span class="hidden" *ngIf="!editing">Select from {{ days.length }} {{ days.length === 1 ? 'day' : 'days' }} in saved data:</span>
  <input type="date" id="date" class="hidden" (change)="dateChange($event)" />
  <div class="arrows" *ngIf="selectedDay && minDate && maxDate && !editing">
    <button (click)="onPrev()" [disabled]="!existsPrev">
      <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
    </button>
    <button (click)="onNext()" [disabled]="!existsNext">
      <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
    </button>
  </div>

  <app-day-list-item *ngIf="!editing" [day]="selectedDay" [editable]="false" (onEdit)="editing = true"></app-day-list-item>

  <app-edit-day *ngIf="editing && selectedDay" [day]="selectedDay" (onSave)="handleSave($event); editing = false" (onCancel)="editing = false"></app-edit-day>
</div>

<ng-template #noData><app-banner type="warning" message="No days to display!" [dismissable]="true"></app-banner></ng-template>
