<div class="content">
  <app-calendar *ngIf="selectedDay && !editing" [dayList]="days" [initializeCalendar]="selectedDay.date" [deletedDay$]="deletedDay$" (dayChange)="dayChange($event)" (newDayClick)="newDayClick($event)" (firstLastDate)="setFirstLastCalendarDates($event)"></app-calendar>

  <span class="hidden" *ngIf="!editing">Select from {{ days.length }} {{ days.length === 1 ? 'day' : 'days' }} in saved data:</span>
  <!-- <input type="date" id="date" class="hidden" (change)="dateChange($event)" /> -->
  <div class="arrows" *ngIf="selectedDay && minDate && maxDate && !editing">
    <app-button (click)="onPrev()" [disabled]="!existsPrev"> <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Prev </app-button>
    <app-button (click)="onNext()" [disabled]="!existsNext"> Next <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> </app-button>
  </div>

  <app-day-list-item *ngIf="!editing" [day]="selectedDay" [hideEditIcon]="false" [hideAddEvent]="false" [editable]="true" (onEdit)="editing = true" (onDelete)="onDelete($event)" (edited)="onSubmit($event)"></app-day-list-item>

  <app-edit-day *ngIf="editing && selectedDay" [day]="selectedDay" (onSave)="handleSave($event); editing = false" (onCancel)="editing = false"></app-edit-day>
</div>

<ng-template #noData><app-banner type="warning" message="No days to display!" [dismissable]="false"></app-banner></ng-template>
<app-banner *ngIf="errorMessage" type="error" [message]="errorMessage" [dismissable]="true" (dismissed)="errorMessage = ''"></app-banner>
