<div class="events" *ngIf="day; else loading">
  <h2>{{ day.date | date : 'mediumDate' }}</h2>
  <div class="event" *ngFor="let event of day.events; trackBy: identify">
    <span class="index">{{ event.idx + 1 }}</span>
    <span class="arrow up" [class.hidden]="event.idx === 0" (click)="moveUp(event, day)"><fa-icon [icon]="['fas', 'chevron-up']"></fa-icon></span>
    <span class="arrow down" [class.hidden]="event.idx === day.events.length - 1" (click)="moveDown(event, day)"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></span>
    <span class="text">{{ event.name }}</span>
  </div>
</div>

<button (click)="saveChanges()" [disabled]="!isModified"> Save Changes </button>
<button (click)="onCancel.emit(true)">Cancel</button>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
