form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
