/* Calendar table */
.months {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.month {
  height: 240px;
  width: 235px;
  background-color: #eee;
  padding: 8px;
  border-radius: 15px;
}
.month .name {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-decoration: underline;
}
.month table {
  margin-top: 0;
  padding-top: 0;
}
.month table tr:first-child th {
  height: 15px !important;
}
.month table tr th,
.month table tr td {
  text-align: center;
  width: 30px;
  height: 30px;
}

.month table tr td.differentMonth {
  opacity: 30%;
}
.month table tr td.differentMonth:hover {
  background-color: #eee;
}
.month table tr td.differentMonth span p:hover {
  cursor: auto !important;
}
.month table tr td.differentMonth.hasEvent:hover span p {
  background-color: #eee;
  color: #000;
}
.month table tr td.isSelected.differentMonth:hover span p {
  background-color: var(--success-color);
  color: #fff;
}

.month table tr td span {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.month table tr td span p {
  padding: 0;
  margin: 0;
  width: 80%;
  height: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.month table tr td:hover {
  background-color: #ddd;
}
.isSelected span p {
  background-color: var(--success-color);
  color: #fff;
}
.hasEvent span p {
  border: 2px solid var(--success-color);
  border-radius: 50%;
}
.month table tr td.hasEvent:hover {
  background-color: transparent;
}
.month table tr td.hasEvent:hover span p {
  background-color: var(--success-color);
  color: #fff;
  cursor: pointer;
}
