<div class="months" *ngIf="selectedDate">
  <div class="month" *ngFor="let month of monthList; let i = index">
    <ng-container
      *ngIf="(i > 0 && i < monthList.length - 1) || (i === 0 && monthList.length === 1); else defaultMonthTitle">
      <form [formGroup]="monthDropdownForm">
        <select formControlName="data" class="name">
          <option [value]="-1">-------</option>
          <ng-container *ngFor="let monthData of monthDropdownData; let i = index; trackBy: trackByIndex">
            <ng-container *ngIf="formatMonthDropdownItem(monthData) as formattedMonth">
              <option [value]="+i">{{ formattedMonth }}</option>
            </ng-container>
          </ng-container>
        </select>
      </form>
    </ng-container>

    <ng-template #defaultMonthTitle>
      <p class="name">{{ month.name }} {{ month.year }}</p>
    </ng-template>

    <table>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
      <tr *ngFor="let week of month.weeks">
        <td
          *ngFor="let day of week.days"
          [class.differentMonth]="month.monthOfYear !== day.month"
          [class.isSelected]="
            +((selectedDate | date: 'dd') || '') === day.date && +((selectedDate | date: 'MM') || '') === day.month
          "
          [class.hasEvent]="day.day.events.length > 0"
          matTooltipPosition="before"
          matTooltipClass="custom-tooltip"
          (click)="selectDay(day, month)">
          <span>
            <p>
              {{ day.date }}
            </p>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
