<form [formGroup]="parserForm" (submit)="submit(parserForm.getRawValue())">
	<label for="date">Initial Date</label>
	<input type="date" name="date" formControlName="date" />

	<label for="text">Text to Parse</label>
	<textarea name="text" rows="15" formControlName="text"></textarea>

	<app-button type="submit" [disabled]="parserForm.invalid">Submit</app-button>
</form>

<ng-container *ngFor="let day of dayList$ | async">
	<app-day-list-item [day]="day" [editable]="false"></app-day-list-item>
</ng-container>
